In [1]:
import pandas as pd
from datetime import date, datetime

In [10]:
NP_LT = pd.read_excel("D:\\Work\\Dự án Đh Kyungpook\\Project 1\\FileCsv\\2_tbl_nguphap_lythuyet.xlsx")
display(NP_LT.tail())
GroupByMeanTrinhDo = NP_LT[["trinhdo","luotxem"]].groupby("trinhdo",as_index = False).mean()
display(GroupByMeanTrinhDo)

NP_LT["phanloai"].unique()
GroupByMeanPhanLoai = NP_LT[["phanloai","luotxem"]].groupby("phanloai",as_index = False).mean()
SortedRankingMean = GroupByMeanPhanLoai.sort_values(by="luotxem",ascending = False,inplace = False)
display(SortedRankingMean[:5])

    id    trinhdo          phanloai  ten           hinhanh noidung  luotxem
17  18    Cao cấp         Đọc hiểu   xyz  sc_lktp_avgo.png     xyz       15
18  19    Cao cấp         Phân loại  xyz  sc_lktp_rjsk.png    acxz       20
19  20    Cao cấp         Phản biện  xyz  sc_lktp_rjsk.png     abc       30
20  21  Trung cấp  Sửa lại chính tả  xyz  sc_lktp_avgo.png     abc       40
21  22    Cao cấp         Phản biện  xyz  sc_lktp_avgo.png     abc        5

     trinhdo  luotxem
0    Cao cấp     20.0
1  Trung cấp    116.0
2     sơ cấp     23.5

                phanloai  luotxem
5                Điền từ    190.0
7    Đối chiếu thông tin    160.0
3        So sánh heading     90.0
4       Sửa lại chính tả     70.0
0  Liệt kê và tương phản     23.5

In [2]:
JSON = {"2021-12-31 10:56:11": "web1","2021-12-31 11:56:11": "web2"}
print(JSON.keys())

dict_keys(['2021-12-31 10:56:11', '2021-12-31 11:56:11'])

In [78]:
UserSession = pd.read_excel("D:\\Work\\Dự án Đh Kyungpook\\Project 1\\FileCsv\\UserSession_usersession.xlsx")
display(UserSession.head())
TestUserSession = UserSession

,SessionID,user,IP,views,Functions,RecentDate
0,a,hai,192.168.0.1,"{""2021-12-31T10:56:11"": ""web1""}","{""2021-12-31 10:56:30"": ""function1""}",2021-12-31 10:56:11.111+07
1,fw7quk2ztvie7jy0xhnbrwjfylik3tda,zzz1st,127.0.0.1,"{""2022-01-03T10:40:05.759581"": ""web3""}","{""2022-01-03 10:40:09.935586"": ""function1"", ""2...",2022-01-03 10:41:54.553997+07
2,rjslrrijn585qpdp6d4rnhcttcfq8o98,VuHai,127.0.0.1,"{""2022-01-03T02:43:03.821582"": ""web3""}","{""2022-01-03 02:43:21.913201"": ""function1"", ""2...",2022-01-03 02:43:47.142815+07
3,9ttc4n13plybxems3knd3ce7cdph4j2w,HoangHuy,127.0.0.1,"{""2022-01-03T02:45:37.518165"": ""web3""}","{""2022-01-03 02:48:39.214508"": ""function1""}",2022-01-03 02:48:39.214508+07
4,bxxiz3wp974ybbx4swaogput1y0hiduh,VuHai,127.0.0.1,"{""2022-01-03T10:28:59.570629"": ""web3""}","{""2022-01-03 10:29:18.683803"": ""function2""}",2022-01-03 10:29:18.683803+07

In [96]:
TestUserSession["RecentDate"] = pd.to_datetime(TestUserSession["RecentDate"])
TestUserSession["RecentDateHour"] =  TestUserSession["RecentDate"].dt.hour

In [97]:
display(TestUserSession.head())

,SessionID,user,IP,views,Functions,RecentDate,RecentDateHour
0,a,hai,192.168.0.1,"{""2021-12-31T10:56:11"": ""web1""}","{""2021-12-31 10:56:30"": ""function1""}",2021-12-31 10:56:11.111000,10
1,fw7quk2ztvie7jy0xhnbrwjfylik3tda,zzz1st,127.0.0.1,"{""2022-01-03T10:40:05.759581"": ""web3""}","{""2022-01-03 10:40:09.935586"": ""function1"", ""2...",2022-01-03 10:41:54.553997,10
2,rjslrrijn585qpdp6d4rnhcttcfq8o98,VuHai,127.0.0.1,"{""2022-01-03T02:43:03.821582"": ""web3""}","{""2022-01-03 02:43:21.913201"": ""function1"", ""2...",2022-01-03 02:43:47.142815,2
3,9ttc4n13plybxems3knd3ce7cdph4j2w,HoangHuy,127.0.0.1,"{""2022-01-03T02:45:37.518165"": ""web3""}","{""2022-01-03 02:48:39.214508"": ""function1""}",2022-01-03 02:48:39.214508,2
4,bxxiz3wp974ybbx4swaogput1y0hiduh,VuHai,127.0.0.1,"{""2022-01-03T10:28:59.570629"": ""web3""}","{""2022-01-03 10:29:18.683803"": ""function2""}",2022-01-03 10:29:18.683803,10

In [110]:
a = TestUserSession["RecentDateHour"].value_counts().rename_axis('Hour activity').reset_index(name='counts')
a

   index  counts
0     16       4
1     10       4
2     12       4
3      2       2
4      3       1

In [112]:
TestUserSession["RecentOnlyDate"] = TestUserSession["RecentDate"].dt.date

In [120]:
b = TestUserSession["RecentOnlyDate"].value_counts().rename_axis('Active Date').reset_index(name='counts')
b
b['Active Date'] = b['Active Date'].apply(lambda x: str(x))
display(type(b['Active Date'][0]))

str

<script src="./js/WebAudioRecorder.min.js "></script>
<script src="./js/app.js"></script>
<script src="./js/Mp3LameEncoder.min.js.mem"></script>
<script src="./js/OggVorbisEncoder.min.js.mem"></script>
<script src="./js/WebAudioRecorderMp3.min.js"></script>
<script src="./js/WebAudioRecorderOgg.min.js"></script>
<script src="./js/WebAudioRecorderWav.min.js"></script>