In [1]:
import numpy as np
import pandas as pd

In [11]:
userTuVung = pd.read_excel("C:\\Users\\mamto\\Desktop\\DataExcelProject1\\ManageTuVung_seventeen_tbl_ontuvung.xlsx")
listTuVung = list(userTuVung['tudahoc'])
setTu = set()
for i in listTuVung:
    listA = i.split(", ")
    setTu.update(listA)
print(setTu)

{'대학생', '국어', '네', '학과', '국문', '대학교', '보기', 'study', 'School', '국적'}

In [12]:
userTuVung["tungtudahoc"] = userTuVung["tudahoc"].str.split(",")
userTuVung["Sotudahoc"] = userTuVung["tungtudahoc"].str.len()
display(userTuVung)
listTuVung = []
for i in list(userTuVung["tungtudahoc"]):
    listTuVung += i

listTuVung
# GroupbyTopik = userTuVung[["topik","Sotudahoc"]].groupby("topik", as_index = False).sum()
# GroupbyTopik

,id,userid,topik,danhmuc,tudahoc,tungtudahoc,Sotudahoc
0,1,1,"1, 2",Giới thiệu,"국어, 국문, 학과, 국적, 네, 대학교, 대학생, 보기","[국어, 국문, 학과, 국적, 네, 대학교, 대학생, 보기]",8
1,2,1,"1, 2",Trường học,"국어, 국문, 학과, 국적, 네, 대학교, 대학생, 보기","[국어, 국문, 학과, 국적, 네, 대학교, 대학생, 보기]",8
2,3,1,"1, 2",Trường học,"국어, 국문","[국어, 국문]",2
3,4,1,"3, 4",Trường học,"학과, 국적, 네","[학과, 국적, 네]",3
4,5,1,"5, 6",Trường học,"School, study","[School, study]",2

['국어',
 ' 국문',
 ' 학과',
 ' 국적',
 ' 네',
 ' 대학교',
 ' 대학생',
 ' 보기',
 '국어',
 ' 국문',
 ' 학과',
 ' 국적',
 ' 네',
 ' 대학교',
 ' 대학생',
 ' 보기',
 '국어',
 ' 국문',
 '학과',
 ' 국적',
 ' 네',
 'School',
 ' study']

In [10]:
userTuVung["tungtudahoc"] = userTuVung["tudahoc"].str.split(",")
userTuVung["Sotudahoc"] = userTuVung["tungtudahoc"].str.len()
Topik12 = userTuVung[userTuVung["topik"] == "1, 2" ]

list

In [5]:
listA = set()
stringA = '1, 2, 3'
temp = stringA.split(", ")
listA.update(temp)

stringB = '1, 5, 6'
temp2 = stringB.split(", ")
listA.update(temp2)
print(listA)

{'6', '1', '5', '2', '3'}

In [6]:
SoTuHocDuocTheoDanhMuc = userTuVung[["danhmuc","Sotudahoc"]].groupby("danhmuc").sum().sort_values(by="Sotudahoc",ascending = False)
SoTuHocDuocTheoDanhMuc

            Sotudahoc
danhmuc
Trường học         15
Giới thiệu          8

In [7]:
a = {'1': ["a","b","c","d"], '2': ["c","g","h"]}
for x,y in a.items():
    print(y[1])

b
g