In [52]:
import numpy as np
import pandas as pd

In [75]:
userTuVung = pd.read_excel("C:\\Users\\mamto\\OneDrive\\Máy tính\\Data\\17_tbl_ontuvung.xlsx")
listTuVung = list(userTuVung['tudahoc'])
setTu = set()
for i in listTuVung:
    listA = i.split(", ")
    setTu.update(listA)
print(setTu)

{'국문', '국어', '네', '보기', '국적', '대학교', '학과', '대학생'}

In [83]:
userTuVung["tungtudahoc"] = userTuVung["tudahoc"].str.split(",")
userTuVung

    id  userid topik     danhmuc                          tudahoc  tungtudahoc
0  1.0       1  1, 2  Giới thiệu  국어, 국문, 학과, 국적, 네, 대학교, 대학생, 보기            4
1  2.0       1  1, 2  Trường học  국어, 국문, 학과, 국적, 네, 대학교, 대학생, 보기            4
2  NaN       1     1  Trường học                           국어, 국문            4
3  NaN       1     2  Trường học                        학과, 국적, 네            4

In [65]:
listA = set()
stringA = '1, 2, 3'
temp = stringA.split(", ")
listA.update(temp)

stringB = '1, 5, 6'
temp2 = stringB.split(", ")
listA.update(temp2)
print(listA)

{'3', '6', '5', '2', '1'}